In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [5]:
import pandas as pd
import numpy as np

import libs.split_data as sd

In [11]:
train_set_in = pd.read_csv('data/train/matchups_train.csv')
test_set_in = pd.read_csv('data/test/matchups_test.csv')

In [10]:
train_set = sd.MatchupPrep().initialclean()

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,batter,pitcher,bb,k,...,cluster_6_list,cluster_7,cluster_7_list,cluster_8,cluster_8_list,cluster_9,cluster_9_list,cluster_10,cluster_10_list,pa
0,0,['FC'],2017-04-02,[-0.0814180638228679],[1.724093309324499],[-0.0813295419624767],425844.0,518516.0,0.0,0.0,...,[0],0.0,[0],1.0,[1],0.0,[0],0.0,[0],1
1,1,"['FF', 'FF']",2017-04-02,"[0.9295176860029236, 0.5286293714168341]","[-0.2127494947533009, -0.3836473892307539]","[-0.0613276480059983, 0.1986969734282274]",452657.0,593372.0,0.0,1.0,...,"[0, 0]",0.0,"[0, 0]",2.0,"[1, 1]",0.0,"[0, 0]",0.0,"[0, 0]",2
2,2,"['CU', 'SI']",2017-04-02,"[-2.800486632319827, 0.5634892248591008]","[-0.2438218392037469, -0.2904303558794159]","[0.818755686079069, 0.8587594739920258]",518516.0,425844.0,1.0,0.0,...,"[0, 0]",0.0,"[0, 0]",0.0,"[0, 0]",1.0,"[1, 0]",0.0,"[0, 0]",1
3,3,"['FC', 'FF']",2017-04-02,"[-0.1162779172651371, 0.59834907830137]","[1.9985656853034388, 1.9415997204776207]","[-0.2013409057013486, -0.6413825727438832]",593372.0,452657.0,0.0,1.0,...,"[0, 0]",0.0,"[0, 0]",0.0,"[0, 0]",0.0,"[0, 0]",0.0,"[0, 0]",2
4,0,['KC'],2017-04-03,[0.1626009102730114],[-0.8808049004378897],[-0.8414015123086704],444857.0,476451.0,0.0,0.0,...,[0],0.0,[0],0.0,[0],0.0,[0],0.0,[0],1